extends layout

block content
  #map

  script(type='text/javascript').

         var osm = new ol.layer.Tile({source: new ol.source.OSM()})

         var map = new ol.Map({
             layers: [osm],
             target: 'map',
             view: new ol.View({
                 center: ol.proj.fromLonLat([-122.4497, 37.7590]),
                 zoom: 13
             })
         });
